<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link
      rel="icon"
      href="../img/logo-mini.png"
      type="image/png"
      sizes="25x25"
    />
    <title>Ticks | Ongoing Ticket</title>
  </head>
  <body>
    <nav>
      <a href="index.html"><img alt="" class="logo" src="../img/logo.png" /></a>
      <!-- navbar -->
      <div class="navbar">
        <ul id="list">
          <li>
            <a href="index.html" class="nav-deactive">Home</a>
          </li>
          <li><a href="register.html" class="nav-deactive">Register</a></li>
          <li class="hide-nav">
            <a href="ongoing-ticket.html" class="nav-active">Ticket</a>
            <ul>
              <li><a href="upcoming-ticket.html">Upcoming Tickets</a></li>
              <li><a href="ongoing-ticket.html">Ongoing Tickets</a></li>
            </ul>
          </li>
          <li>
            <a href="ticket-detail.html" class="nav-deactive">Ticket Detail</a>
          </li>
          <li class="hide-nav">
            <a href="avaiable-promo.html" class="nav-deactive">Promotions</a>
            <ul>
              <li><a href="avaiable-promo.html">Available Promos</a></li>
              <li><a href="upcoming-promo.html">Upcoming Promos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- burger -->
      <img
        alt=""
        class="menu-icon"
        onclick="toggle()"
        src="../img/burger.png"
      />
      <!-- burger end -->
    </nav>

    <section class="ongoing__header">
      <h2>Ticks Ticket!</h2>
      <p>
        Get in Tune, Defeat the Tick-toon! Grab Your Concert Pass, Let's Rock at
        Last!
      </p>
    </section>
    <div class="ticket-card__container">
      <h3>Ticket Ongoing</h3>

      <div class="card-container">
        <!-- card  1 ongoing-->
        <div class="card">
          <a href="ticket-detail.html">
            <div class="card-image">
              <img
                src="../img/card-concert/yoasobai.jpeg"
                class="card-image img-concert"
              />
            </div>
            <div class="category">Ongoing</div>
            <div class="heading">
              <p>Yoasobai 1st Concert 88Raising</p>
              <div class="detail-time">
                Date: <span class="date font-detail">5 May 2023</span><br />
                Time: <span class="time font-detail">17:00 ~ 20:00</span>
              </div>
            </div>
          </a>
        </div>
        <!-- card end 1 ongoing -->
        <!-- card  2 ongoing-->
        <div class="card">
          <a href="ticket-detail.html">
            <div class="card-image">
              <img
                src="https://i.pinimg.com/originals/ce/cd/70/cecd70f86321ea291a7c15a24d7ddf6b.jpg"
                class="card-image 2 img-concert"
              />
            </div>
            <div class="category">Ongoing</div>
            <div class="heading">
              <p>Travis Scott Astro World Tour</p>
              <div class="detail-time">
                Date: <span class="date font-detail">5 March 2023</span><br />
                Time: <span class="time font-detail">17:00 ~ 20:00</span>
              </div>
            </div>
          </a>
        </div>
        <!-- END CARD 2 ongoing-->
        <!-- card  3 ongoing-->
        <div class="card">
          <a href="ticket-detail.html">
            <div class="card-image">
              <img
                src="https://i.pinimg.com/originals/3a/54/75/3a547513c712eb1f9b1f08bfb3507efa.jpg"
                class="card-image img-concert"
              />
            </div>
            <div class="category">Ongoing</div>
            <div class="heading">
              <p>Blackpink In Your Area Glora Bung Karno</p>
              <div class="detail-time">
                Date: <span class="date font-detail">20 May 2023</span><br />
                Time: <span class="time font-detail">18:00 ~ 22:00</span>
              </div>
            </div>
          </a>
        </div>
        <!-- card end 3 ongoing -->
        <!-- card  4 ongoing-->
        <div class="card">
          <a href="ticket-detail.html">
            <div class="card-image">
              <img
                src="https://s3.amazonaws.com/bit-photos/large/198079.jpeg"
                class="card-image img-concert"
              />
            </div>
            <div class="category">Ongoing</div>
            <div class="heading">
              <p>The Changcuters Goes To Bandung</p>
              <div class="detail-time">
                Date: <span class="date font-detail">12 May 2023</span><br />
                Time: <span class="time font-detail">18:00 ~ 20:00</span>
              </div>
            </div>
          </a>
        </div>
        <!-- card end 4 ongoing -->
        <!-- card  5 ongoing-->
        <div class="card">
          <a href="ticket-detail.html">
            <div class="card-image">
              <img
                src="https://awsimages.detik.net.id/community/media/visual/2019/07/31/ce901898-817e-4243-a2db-962db0a8756c_43.jpeg?w=700&q=90"
                class="card-image img-concert"
              />
            </div>
            <div class="category">Ongoing</div>
            <div class="heading">
              <p>Monokrom Beradaptasi By Tulus</p>
              <div class="detail-time">
                Date: <span class="date font-detail">10 May 2023</span><br />
                Time: <span class="time font-detail">15:00 ~ 18:00</span>
              </div>
            </div>
          </a>
        </div>
        <!-- card end 5 ongoing -->
      </div>
    </div>

    <section class="ongoing__content">
      <div class="img">
        <img src="../img/Lo-fi concept-amico.png" alt="" />
      </div>
      <div class="ongoing__content-text">
        <h4>Order Concert Tickets, Enjoyment Becomes Easier!</h4>
        <h5>Easy Buy Ticket!</h5>
        <p>
          Ticks is a user-friendly online platform that simplifies the process
          of purchasing tickets for events. With a straightforward interface and
          secure payment options, users can easily browse, select, and buy
          tickets for concerts, sports events, and more, making the
          ticket-buying experience quick and convenient.
        </p>
        <h5>Many Choice of Payment Methods!</h5>
        <p>
          At Ticks, we prioritize convenience and flexibility when it comes to
          purchasing tickets. That's why we offer a plethora of payment methods
          to cater to your individual needs. Whether you prefer to pay with
          credit cards, debit cards, digital wallets, or other popular payment
          options, Ticks has you covered. Our diverse range of payment methods
          ensures that you can easily and securely complete your ticket
          purchase, providing a seamless and user-friendly experience on our
          platform.
        </p>
      </div>
    </section>

    <footer>
      <!-- social media -->
      <div class="socmed">
        <a href="https://www.instagram.com"
          ><img src="../img/icon/instagram.png" class="icon-media"
        /></a>
        <a href="https://www.facebook.com"
          ><img src="../img/icon/facebook.png" class="icon-media"
        /></a>
        <a href="https://www.twitter.com"
          ><img src="../img/icon/twitter.png" class="icon-media"
        /></a>
      </div>
      <!-- social media end -->

      <!-- copyright -->
      <div>
        <p id="copyright">© 2023, TICKS</p>
      </div>
      <!-- end copyright -->
      <!--  download on app -->
      <div class="download-app">
        <div>
          <img src="../img/icon/app-store.png" class="download-icon" />
        </div>
        <div>
          <img src="../img/icon/playstore.png" class="download-icon" />
        </div>
      </div>
      <!-- end download on app -->
    </footer>
    <script src="../script/script-media.js"></script>
  </body>
</html>
