<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link
      rel="icon"
      href="../img/logo-mini.png"
      type="image/png"
      sizes="25x25"
    />
    <title>Ticks | Ticket Detail</title>
  </head>
  <body>
    <nav>
      <a href="index.html"><img alt="" class="logo" src="../img/logo.png" /></a>
      <!-- navbar -->
      <div class="navbar">
        <ul id="list">
          <li>
            <a href="index.html" class="nav-deactive">Home</a>
          </li>
          <li><a href="register.html" class="nav-deactive">Register</a></li>
          <li class="hide-nav">
            <a href="ongoing-ticket.html" class="nav-deactive">Ticket</a>
            <ul>
              <li><a href="upcoming-ticket.html">Upcoming Tickets</a></li>
              <li><a href="ongoing-ticket.html">Ongoing Tickets</a></li>
            </ul>
          </li>
          <li>
            <a href="ticket-detail.html" class="nav-active">Ticket Detail</a>
          </li>
          <li class="hide-nav">
            <a href="avaiable-promo.html" class="nav-deactive">Promotions</a>
            <ul>
              <li><a href="avaiable-promo.html">Available Promos</a></li>
              <li><a href="upcoming-promo.html">Upcoming Promos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- burger -->
      <img
        alt=""
        class="menu-icon"
        onclick="toggle()"
        src="../img/burger.png"
      />
      <!-- burger end -->
    </nav>

    <main>
      <div class="container-ticket">
        <div class="image">
          <img
            src="../img/card-concert/yoasobai.jpeg"
            class="image-ticket-detail"
          />
        </div>

        <div class="header">
          <div class="title">
            <h1>
              DAY 1 - YOASOBAI WORLD PARTY [INDONESIA WAW] JAKARTA (VIP TICKET)
            </h1>
          </div>
          <!-- bagian di kanan -->
          <div class="price">
            <h3 class="price-list">Start from</h3>
            <span class="price-list price-number">IDR 1.499.000</span>
            <span class="price-list"
              ><button class="button-buy">Buy Ticket</button></span
            >
          </div>
        </div>
        <div class="detail-text"></div>
        <!-- location, date, time, price, (maybe button buy?) -->
        <!-- location -->
        <span class="text-icon">
          <i class="text-list"
            ><img src="../img/icon/pin.png" class="icon-size"
          /></i>
          <p class="align-center">Jakarta pusat</p>
        </span>
        <!-- end location -->
        <!-- date -->
        <span class="text-icon">
          <i class="text-list"
            ><img src="../img/icon/calendar.png" class="icon-size"
          /></i>
          <p class="align-center">5 May 2023</p>
        </span>
        <!-- end date -->
        <!-- clock -->
        <span class="text-icon">
          <i class="text-list"
            ><img src="../img/icon/clock.png" class="icon-size"
          /></i>
          <p class="align-center">17:00 ~ 20.00</p>
        </span>
        <!-- end clock -->

        <div class="concert-detail"></div>
      </div>
      <!-- end ticket detail -->
      <div class="highlight">
        <h2 class="h2-highlight">Highlight</h2>
        <ul>
          <li class="li-highlight">
            Watching Yoasobai concert, a legendary Japanese musician, performing
            our favorite song, YORU NI KAKETEHHHH
          </li>
          <li class="li-highlight">
            The concert will be held on May 5 in Central Jakarta at the Jejepun
            Internasional building
          </li>
        </ul>
      </div>
      <div class="additional-information">
        <h2 class="h2-additional-information">Important Information</h2>
        <!-- IMPORTANT INFORMATION -->
        <ul class="ul-additional-information">
          <li class="li-additional-information">
            Show Day 1: 5 May 2023 (17.00 WIB)
          </li>
          <li class="li-additional-information">
            General sales DAY 1 begins on January 1, 2023.
          </li>
        </ul>
        <!-- END IMPORTANT INFORMATION -->
      </div>
    </main>

    <footer>
      <!-- social media -->
      <div class="socmed">
        <a href="https://www.instagram.com"
          ><img src="../img/icon/instagram.png" class="icon-media"
        /></a>
        <a href="https://www.facebook.com"
          ><img src="../img/icon/facebook.png" class="icon-media"
        /></a>
        <a href="https://www.twitter.com"
          ><img src="../img/icon/twitter.png" class="icon-media"
        /></a>
      </div>
      <!-- social media end -->

      <!-- copyright -->
      <div>
        <p id="copyright">© 2023, TICKS</p>
      </div>
      <!-- end copyright -->
      <!--  download on app -->
      <div class="download-app">
        <div>
          <img src="../img/icon/app-store.png" class="download-icon" />
        </div>
        <div>
          <img src="../img/icon/playstore.png" class="download-icon" />
        </div>
      </div>
      <!-- end download on app -->
    </footer>
    <script src="../script/script-media.js"></script>
  </body>
</html>
