<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link
      rel="icon"
      href="../img/logo-mini.png"
      type="image/png"
      sizes="25x25"
    />
    <title>Ticks | Upcoming Promo</title>
  </head>
  <body class="avaiable-promo">
    <nav>
      <a href="index.html"><img alt="" class="logo" src="../img/logo.png" /></a>
      <!-- navbar -->
      <div class="navbar">
        <ul id="list">
          <li>
            <a href="index.html" class="nav-deactive">Home</a>
          </li>
          <li><a href="register.html" class="nav-deactive">Register</a></li>
          <li class="hide-nav">
            <a href="ongoing-ticket.html" class="nav-deactive">Ticket</a>
            <ul>
              <li><a href="upcoming-ticket.html">Upcoming Tickets</a></li>
              <li><a href="ongoing-ticket.html">Ongoing Tickets</a></li>
            </ul>
          </li>
          <li>
            <a href="ticket-detail.html" class="nav-active">Ticket Detail</a>
          </li>
          <li class="hide-nav">
            <a href="avaiable-promo.html" class="nav-deactive">Promotions</a>
            <ul>
              <li><a href="avaiable-promo.html">Available Promos</a></li>
              <li><a href="upcoming-promo.html">Upcoming Promos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- burger -->
      <img
        alt=""
        class="menu-icon"
        onclick="toggle()"
        src="../img/burger.png"
      />
      <!-- burger end -->
    </nav>

    <div class="section-promo">
      <h3>Upcoming Promo</h3>
      <div class="promotion-container">
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Pamungkas</h4>
            <h2 class="how_much"><b> 25% </b></h2>
            <h3>OFF</h3>
            <h4>20 Agustus 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">The Weekend</h4>
            <h2 class="how_much"><b> 15% </b></h2>
            <h3>OFF</h3>
            <h4>12 June 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Coldplay</h4>
            <h2 class="how_much"><b> 20% </b></h2>
            <h3>OFF</h3>
            <h4>12 November 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Hindia</h4>
            <h2 class="how_much"><b> 30% </b></h2>
            <h3>OFF</h3>
            <h4>14 October 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Boy Pablo</h4>
            <h2 class="how_much"><b> 15% </b></h2>
            <h3>OFF</h3>
            <h4>15 September 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Coldplay</h4>
            <h2 class="how_much"><b> 10% </b></h2>
            <h3>OFF</h3>
            <h4>10 November 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Pamungkas</h4>
            <h2 class="how_much"><b> 20% </b></h2>
            <h3>OFF</h3>
            <h4>15 Agustus 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Hindia</h4>
            <h2 class="how_much"><b> 20% </b></h2>
            <h3>OFF</h3>
            <h4>20 October 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">The Weekend</h4>
            <h2 class="how_much"><b> 30% </b></h2>
            <h3>OFF</h3>
            <h4>15 June 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
        <!-- COUPON -->
        <div class="coupon_box color-orange">
          <div class="body">
            <h4 class="title-concert">Boy Pablo</h4>
            <h2 class="how_much"><b> 40% </b></h2>
            <h3>OFF</h3>
            <h4>18 September 2023</h4>
          </div>
          <button class="btn">Redeem</button>
        </div>
        <!-- END COUPON -->
      </div>
    </div>

    <footer>
      <!-- social media -->
      <div class="socmed">
        <a href="https://www.instagram.com"
          ><img src="../img/icon/instagram.png" class="icon-media"
        /></a>
        <a href="https://www.facebook.com"
          ><img src="../img/icon/facebook.png" class="icon-media"
        /></a>
        <a href="https://www.twitter.com"
          ><img src="../img/icon/twitter.png" class="icon-media"
        /></a>
      </div>
      <!-- social media end -->

      <!-- copyright -->
      <div>
        <p id="copyright">© 2023, TICKS</p>
      </div>
      <!-- end copyright -->
      <!--  download on app -->
      <div class="download-app">
        <div>
          <img src="../img/icon/app-store.png" class="download-icon" />
        </div>
        <div>
          <img src="../img/icon/playstore.png" class="download-icon" />
        </div>
      </div>
      <!-- end download on app -->
    </footer>
    <script src="../script/script-media.js"></script>
  </body>
</html>
